div {
    color: blue;
    background-color: rgb(3, 0, 7);
}

nav {
    display: flex;
 
    align-content: space-between;
    font-family: fantasy;
    width: 100%;
       
}

nav > div {
    flex: 1;
    color: white;   
}

.search {
    text-align: right ;
}

.logo { 
    text-align: left;
}

.links {
    text-align: center;
    display: flex;
    align-content: space-between;
}

.links p {
    flex: 1;
    margin-top: 0;
    margin-bottom: 0%;
}


